<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

  <p>
    <strong>Amount:</strong>
    <% @group_sums.each do |category, sum| %>
      <tr>
      <%if group.id == category%>
        <td><%= sum %></td>
        <% end %>
      </tr>
    <% end %>
  </p>


</div>
