<div class="actions d-flex justify-content-around total_amount">
<div class='text general_text'>Total Amount: </div>
<div class='headlines text'>$<%=@total_amount%>0 </div>
</div>

<div class='general_text text groups'>
  <% @groups.each do |group| %>
  <%= link_to user_group_path(id: group.id) do%>
  <div>
  <% if can? :read, group %>
    <%= render group %>

  <% end %>
  <% end %>
  </div>
  <% end %>
</div>

<div class="green d-flex flex-wrap justify-content-around headlines">
<%= link_to "New category", new_user_group_path, class:"btn inter" %>
</div>
