<h3 class = "d-flex justify-content-around my-5"><%= "Are you sure #{current_user.name}?" %></h3>

<div class = "d-flex justify-content-between">
  <%= link_to "Back main page", user_groups_path(user_id: current_user.id), class: "btn btn-primary mx-4" %>

  <%= button_to "Log-out", @user, method: :delete, class: "btn btn-danger mx-4" %>
</div>
