<div class="max_width d-flex justify-content-around my-5 mx-auto">
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
<h1 class="card-header headlines text">Salary manager</h1>
  <div class="card-body">
    <p class="card-title general_text text">Here you will able to manage your budget. You will have a list of transactions associated with a category, so that you can see how much money you spent and on what.</p>
    <ul class="card-text general_text text">
  <li>Register and log in. You'll need to confirmate your e-mail.</li>
  <li>Create a category.</li>
  <li>Introduce new transactions associated with a category.</li>
  <li>See the money spent on each category.</li>
  </ul>
  </div>
</div>
</div>
  <div class="max_width fixed-bottom d-flex flex-column align-items-center">
    <%= link_to "Log-in", new_user_session_path, class:"btn bg_primary w85 mx-4 white" %>
    <%= link_to "Sign-up", new_user_registration_path, class:"btn w85 mx-4" %>
  </div>
