body {
  background-color: rgb(250, 240, 239);
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.max_width {
  width: 100%;
}

.fields {
  padding: 15px;
  border: 1px solid rgb(250, 240, 239);
}

.white {
  color: rgb(255, 240, 240);
}

.w85 {
  width: 85%;
}

.bg_primary {
  background-color: #3778c2;
}

.bg_secondary {
  background-color: #5fb523;
}

.text {
  color: #434b54;
}

.headlines {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.general_text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.total_amount {
  background-color: white;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 4vw;
}

.prev_total,
.prev_trans {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 7vw 0;
  width: 90%;
  margin: 4vw 5vw;
}

.icon {
  width: 30vw;
  height: 30vw;
  margin-left: 3vw;
}

.group_name {
  font-size: 5vw;
  margin-right: 3vw;
}

.date {
  font-size: 3vw;
}

.green {
  background-color: #5fb523;
  width: 100%;
  height: 60px;
  align-content: space-evenly;
  position: fixed;
  bottom: 0;
}

.inter {
  border: white 2px solid;
  width: 70%;
  height: 70%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.groups {
  margin-bottom: 100px;
}

@media screen and (min-width: 769px) {
  .new_user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .max_width {
    max-width: 500px;
  }

  .fixed-bottom {
    margin: auto;
  }

  .icon {
    width: 3vw;
    height: 3vw;
    margin: 0 10px 0 0;
  }

  .group_name {
    font-size: 27px;
  }

  .date {
    font-size: 15px;
  }

  .groups {
    display: flex;
    flex-wrap: wrap;
  }

  .prev_trans {
    height: 80%;
    padding: 10px 10px;
    margin: 0 20px;
  }

  .prev_total {
    padding: 0;
  }

  .button_to {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .field {
    margin-top: 50px;
  }

  .green {
    width: 30%;
    position: relative;
    margin: auto;
  }
}
